<div id="modal-regular2{{ element.id }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ path('cancel_appel',{'id': element.id } )}}" method="post" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title text-left">Annulation d'appel</h3>
            </div>
            <div class="modal-body">
             Confirmez - vous l'annulation de l'appel : <br>
                <div class="text-left">
                Référence : <strong>{{ element.referenceAppel }}</strong>  <br> <br>
                Date Appel : <strong>{{ element.dateAppel|date('d/m/Y') }}</strong><br> <br>
                Objet : <strong>{% if element.objetappel is not null %} {{ element.objetappel.libObjet }}  {% endif %}</strong>  <br> <br>
                Bénéficiaire : <strong>{% if element.beneficiaire is not null %} {{ element.beneficiaire.libBeneficiaire }}  {% endif %}</strong>  <br> <br>
                Montant Hors taxe : <strong>{{ element.montantHt|number_format(2, ',', '.') }}</strong> francs CFA  |
                Montant Ttc : <strong>{{ element.montantTtc|number_format(2, ',', '.') }}</strong>  francs CFA<br> <br>
                Solde : <strong> {{ valsolde|number_format(2, ',', '.') }}</strong> francs CFA <br>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-sm btn-danger">Annuler</button>
            </div>
        </form>
        </div>
    </div>
</div>