
<div id="afficherbeneficiaire">
    <br>
    <div class="info_beneficiaire  ">
        Référence appel émis : <strong>{{ element.referenceAppel }}</strong>  |
        Date Emission : <strong>{{ element.dateAppel|date('d/m/Y') }}</strong><br> <br>

        {% if element.refEngagement is not null %}  Référence Engagement: <strong>{{ element.refEngagement }}</strong>  |
                                                                                                                        Date Engagement : <strong>{{ element.dateEngagement|date('d/m/Y') }}</strong><br> <br>  {% endif %}

        {% if element.refBordereau is not null %}  Référence Bordereau: <strong>{{ element.refBordereau }}</strong>  |
                                                                                                                     Date Bordereau : <strong>{{ element.dateBordereau|date('d/m/Y') }}</strong><br> <br>  {% endif %}

        {% if element.objetappel is not null %}  Objet : <strong>{{ element.objetappel }} </strong> |  {% endif %}
        Montant : <strong>{{ element.montantTtc|number_format(2, ',', '.') }}</strong>  francs CFA <br>  <br>

        {% if element.compte is not null %} Numéro du compte trésor : <strong> {{ element.compte.numero  }}  </strong>  |
                                                                                                                        Intitulé du compte : <strong> {{ element.compte.intitule }}  </strong> <br> <br>  {% endif %}

        Structure Bénéficiaire : <br> <br>
        Nom : <strong>{% if element.beneficiaire is not null %} {{ element.beneficiaire.libBeneficiaire }}  {% endif %}</strong>  |
        Code : <strong>{% if element.beneficiaire is not null %} {{ element.beneficiaire.code }}  {% endif %}</strong> | Sigle : <strong> {{ element.beneficiaire.sigle }}  </strong> <br> <br>

        {% set mt=0 %}
        Montant total encaissé : <strong>{% for elt in element.encaissements %}{% set mt=mt+elt.montantEncaisse %} {% endfor %}{{ mt|number_format(2, ',', '.') }}</strong> francs CFA
        | Montant restant : <strong> {{ (element.montantTtc-mt)|number_format(2, ',', '.') }} </strong><br>  <br>

    </div>
    <br>

</div>

