{% extends "home/layout.html.twig" %}
{% block stylesheet %}

{% endblock %}
 {% block titletopmeu %}
    <li>Coffre-Fort</li>
    <li><a href="{{ path('read_coffrefort')}} ">Coffre-Fort</a></li>
{% endblock %}
{% block content %}
     <!-- Datatables Content -->
     <div class="block full">
         <div class="block-title">

             <h2>
                 <strong> Coffre-Fort de l'exercice : {{ exercice.libExercice }} </strong>

             </h2>

             <a  href="{{ path('create_coffrefort')}}"  title="Ajouter" class="btn btn-xs btn-success" >
                 <i  class="fa fa-plus"></i></a>
         </div>
         <div class="table-responsive">
             <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                 <thead>
                 <tr>
                 <th class="text-center hide"> </th>
                     <th class="text-center "> Date </th>
                     <th class="text-center "> Référence Cheque</th>
                     <th class="text-center "> Montant Retiré </th>
                     <th class="text-center "> Référence Encaissement</th>
                     <th class="text-center "> Référence Appel</th>
                     
                     <th class="text-center">  Actions</th>
                 </tr>

                 </thead>
                 <tbody>
                     {% for element in  coffreforts %}
                                         <tr>
                                             <td class="text-left hide">  </td>
                                             <td class="text-center"> {{ element.dateEmission|date('d/m/Y') }} </td>
                                             <td class="text-left">{{ element.refCheque }} </td>
                                             <td class="text-right ">
                                                 {{ element.montantRetire|number_format(2, ',', '.') }}
                                             </td>
                                             <td class="text-right ">
                                                 {{ element.encaissement }}
                                             </td>
                                             <td class="text-right ">
                                                 {% if element.encaissement.appel.referenceAppel %}
                                                     {{ element.encaissement.appel.referenceAppel }}
                                                 {% else %}
                                                     {{ element.encaissement.appel.referenceAppelfond }}
                                                 {% endif %}
                                             </td>
                                             <td class="text-center">
                                                 <a href="{{ path('update_coffrefort', {'id': element.id } )}}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                 <a href="#modal-regular{{ element.id }}" data-toggle="modal" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                                     {% include 'coffrefort/delete_coffrefort.html.twig'  %}

                                             </td>
                                         </tr>

                     {% endfor %}
                 </tbody>
             </table>
         </div>
     </div>
     <!-- END Datatables Content -->

 {% endblock %}

 {% block customjavascript %}
     <script>

     </script>
 {% endblock customjavascript %}