{% extends "home/layout.html.twig" %}
{% block stylesheet %}

{% endblock %}
 {% block titletopmeu %}
     <li>Coffre fort</li>
     <li><a href="{{ path('read_coffrefort')}}">Retraire pour alimentation du Coffre Fort</a></li>
     <li><a href="{{ path('update_coffrefort')}}">Modification</a></li>
 {% endblock %}
 {% block content %}

<div class="row">
    <div class="block">
         <!-- Normal Form Title -->
         <div class="block-title">
             <div class="block-options pull-right">
                 <a href="{{ path('read_coffrefort')}}" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" >Retour</a>
             </div>
             <h2><strong>Modifier Coffre fort</strong> </h2>

         </div>
         <!-- END Normal Form Title -->

         <!-- Normal Form Content -->
         <form action="{{ path('update_coffrefort',{'id': id } )}}" method="post" class="form-bordered">

             <div class="form-group">
                 {{ form_widget(form) }}
                 {{ form_rest(form) }}
             </div>
             <div class="form-group form-actions">
                 <button type="submit" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i> Modifier</button>
                 <button type="reset" class="btn btn-sm btn-default"><i class="fa fa-repeat"></i> Annuler</button>
             </div>
         </form>
         <!-- END Normal Form Content -->
     </div>
 {% endblock %}
{% block customjavascript %}
    <script>
        if($("#appbundle_coffrefort_sourceAlimaentation").val() === "encaissement"){
                $("#appbundle_coffrefort_autreAlimaentation").parent().hide();
                $("#appbundle_coffrefort_refCheque").parent().hide();               
                $("#appbundle_coffrefort_appel").parent().show();
                $('#appbundle_coffrefort_encaissement').parent().show(); 
                
        }else{
                $("#appbundle_coffrefort_appel").parent().hide();
                $('#appbundle_coffrefort_encaissement').parent().hide();
                $("#appbundle_coffrefort_autreAlimaentation").parent().show();
                $("#appbundle_coffrefort_refCheque").parent().show();               
        }
        $("#appbundle_coffrefort_sourceAlimaentation").change(function () {
            
            if ($(this).val() === "encaissement") {
                $("#appbundle_coffrefort_autreAlimaentation").parent().hide();
                $("#appbundle_coffrefort_refCheque").parent().hide();               
                $("#appbundle_coffrefort_appel").parent().show();
                $('#appbundle_coffrefort_encaissement').parent().show();
            } else {
                $("#afficherbeneficiaire").hide();
                $("#appbundle_coffrefort_appel").parent().hide();
                $('#appbundle_coffrefort_encaissement').parent().hide();
                $("#appbundle_coffrefort_autreAlimaentation").parent().show();
                $("#appbundle_coffrefort_refCheque").parent().show();               
            }
        });

            $("#appbundle_coffrefort_encaissement").change(function () {
                var k = $(this);
                $("#afficherencaissement").remove();
                $.ajax({
                    type: 'GET',
                    url: "{{ path('selectinfo_encaissement')}}",
                    cache: false,
                    data : 'id=' + k.val(),
                    success: function (data) {
                        // alert(data);
                        k.parent().after(data);
                        // location.reload();
                    },
                    error: function () {
                    }
                });
            });
            $.ajax({
                    type: 'GET',
                    url: "{{ path('selectinfo_encaissement')}}",
                    cache: false,
                    data : 'id=' + $("#appbundle_coffrefort_encaissement").val(),
                    success: function (data) {
                        // alert(data);
                        $("#appbundle_coffrefort_encaissement").parent().after(data);
                        // location.reload();
                    },
                    error: function () {
                    }
                });

    </script>
{% endblock %}