<div id="modal-regular1{{ element.id }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" method="post" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title text-left">Détails</h3>
            </div>
                <div class="modal-body">
                    <div class="text-left">
                        <span>  INFORMATIONS SUR LE DOCUMENT D'APPEL DE FONDS  : </span> <br>
                        Référence appel émis : <strong>{{ element.encaissement.appel.referenceAppel }}</strong>  |
                        Date Emission : <strong>{{ element.encaissement.appel.dateAppel|date('d/m/Y') }}</strong><br>

                        Structure Bénéficiaire : <br> <br>
                        Nom : <strong>{% if element.encaissement.appel.beneficiaire is not null %} {{ element.encaissement.appel.beneficiaire.libBeneficiaire }}  {% endif %}</strong>  |
                        Code : <strong>{% if element.encaissement.appel.beneficiaire is not null %} {{ element.encaissement.appel.beneficiaire.code }}  {% endif %}</strong> | Sigle : <strong> {{ element.encaissement.appel.beneficiaire.sigle }}  </strong> <br> <br>

                        {% if element.encaissement.appel.objetappel is not null %}  Objet : <strong>{{ element.encaissement.appel.objetappel }} </strong> |  {% endif %}
                        Montant : <strong>{{ element.encaissement.appel.montantTtc|number_format(2, ',', '.') }}</strong>  francs CFA <br>  <br>

                        {% if element.encaissement.appel.compte is not null %} Numéro du compte trésor : <strong> {{ element.encaissement.appel.compte.numero  }}  </strong>  |
                         Intitulé du compte Trésor : <strong> {{ element.encaissement.appel.compte.intitule }}  </strong> <br> <br>  {% endif %}

                        <span>  INFORMATIONS SUR L'ENCAISSEMENT  : </span> <br>
                        Numéro de compte : <strong>{{ element.encaissement.numeroCompte }}</strong>  |
                        Date Encaissement : <strong>{{ element.encaissement.dateEncaissement|date('d/m/Y') }}</strong> |
                        Montant encaissé : <strong>{{ element.encaissement.montantEncaisse|number_format(2, ',', '.') }}</strong><br> <br>

                        <span>  INFORMATIONS SUR LE PAIEMENT  : </span> <br>
                        Date du paiement : <strong> {{ element.dateEPaiement|date('d/m/Y') }} </strong>  |
                        Référence chèque : <strong> {{ element.refCheque }}</strong> |
                        Référence virement : <strong> {{ element.refVirement }} </strong> <br> <br>

                        Montant Hors taxe : <strong>  {{ element.montantTtc|number_format(2, ',', '.') }} </strong> |
                        Montant TVA retenue : <strong>  {{ element.tvaRetenue|number_format(2, ',', '.') }} </strong> |
                        Montant AIB retenue : <strong>  {{ element.aibRetenu|number_format(2, ',', '.') }} </strong> |
                        Montant TTC : <strong>  {{ element.montantTtc|number_format(2, ',', '.') }} </strong> <br> <br>

                        Fournisseur : <br>
                        Nom : <strong> {{ element.fournisseur.nom }} </strong>  |
                        IFU : <strong> {{ element.fournisseur.numifu }} </strong>  |
                        Contact(s) : <strong> {{ element.fournisseur.tel }} </strong>
                        <br>

                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </form>
        </div>
    </div>
</div>