<div id="modal-regular1{{ element.id }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" method="post" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title text-left">Détails</h3>
            </div>
                <div class="modal-body">
                    <div class="text-left">
                        <span  style="text-decoration: underline;font-weight: bold;color: #0a7a60;">  INFORMATIONS SUR LE DOCUMENT D'APPEL DE FONDS  : </span> <br>
                        {% if element.encaissement.appel.referenceAppel  %} Référence Mandat émis : <strong>{{ element.encaissement.appel.referenceAppel }}</strong>  | {% endif %}
                        {% if element.encaissement.appel.referenceAppelfond  %} Référence Appel de fonds : <strong>{{ element.encaissement.appel.referenceAppelfond }}</strong>  | {% endif %}
                        Date Emission : <strong>{{ element.encaissement.appel.dateAppel|date('d/m/Y') }}</strong><br>

                        Structure Bénéficiaire : <br>
                        Nom : <strong>{% if element.encaissement.appel.beneficiaire is not null %} {{ element.encaissement.appel.beneficiaire.libBeneficiaire }}  {% endif %}</strong>  |
                        {% if element.encaissement.appel.beneficiaire.code  %}  Code : <strong>{{ element.encaissement.appel.beneficiaire.code }}  </strong> | {% endif %}
                        {% if element.encaissement.appel.beneficiaire.sigle  %} Sigle : <strong> {{ element.encaissement.appel.beneficiaire.sigle }}  </strong>{% endif %} <br> <br>

                        {% if element.encaissement.appel.objetappel  %}  Objet : <strong>{{ element.encaissement.appel.objetappel }} </strong> |  {% endif %}
                        Montant : <strong>{{ element.encaissement.appel.montantTtc|number_format(2, ',', '.') }}</strong>  francs CFA <br>  <br>

                        {% if element.encaissement.appel.compte %} Numéro du compte trésor : <strong> {{ element.encaissement.appel.compte.numero  }}  </strong>  |
                         Intitulé du compte Trésor : <strong> {{ element.encaissement.appel.compte.intitule }}  </strong> <br>  {% endif %}

                        {% if element.encaissement.appel.comptebancaire %} Numéro du compte bancaire : <strong> {{ element.encaissement.appel.comptebancaire.numero  }}  </strong>  |
                          Intitulé du compte bancaire : <strong> {{ element.encaissement.appel.comptebancaire.intitule }} | </strong>
                            Institution bancaire : <strong> {{ element.encaissement.appel.comptebancaire.institution}} | </strong><br> {% endif %}

                        <span style="text-decoration: underline;font-weight: bold;color: #0a7a60;">  INFORMATIONS SUR L'ENCAISSEMENT  : </span> <br>
                        Numéro de compte : <strong>{{ element.encaissement.numeroCompte }}</strong>  |
                        Date Encaissement : <strong>{{ element.encaissement.dateEncaissement|date('d/m/Y') }}</strong> |
                        Montant encaissé : <strong>{{ element.encaissement.montantEncaisse|number_format(2, ',', '.') }}</strong><br> <br>

                        <span  style="text-decoration: underline;font-weight: bold;color: #0a7a60;">  INFORMATIONS SUR LE PAIEMENT  : </span> <br>
                        Date du paiement : <strong> {{ element.dateEPaiement|date('d/m/Y') }} </strong>  |
                        Référence chèque : <strong> {{ element.refCheque }}</strong> |
                        Référence virement : <strong> {{ element.refVirement }} </strong> <br>

                        {% set tva=0 %}  {% set aib=0 %}  {% for elt in  element.retenuepaies %}
                            {% set tva=tva+elt.tvaAreverse %}   {% set aib=aib+elt.aibAreverse %} {% endfor %}
                        Montant Hors taxe : <strong>  {{ element.montantTtc|number_format(2, ',', '.') }} </strong> F CFA |
                        Montant TVA retenue : <strong>  {{ element.tvaRetenue|number_format(2, ',', '.') }} </strong> F CFA ;
                        Montant TVA versé : <strong>  {{ tva|number_format(2, ',', '.') }} </strong> F CFA ;
                        Montant TVA restant à verser : <strong>  {{ (element.tvaRetenue-tva)|number_format(2, ',', '.') }} </strong> F CFA |
                        Montant AIB retenue : <strong>  {{ element.aibRetenu|number_format(2, ',', '.') }} </strong> F CFA
                        Montant AIB versé : <strong>  {{ aib|number_format(2, ',', '.') }} </strong> F CFA ;
                        Montant AIB restant à verser : <strong>  {{ (element.aibRetenu-aib)|number_format(2, ',', '.') }} </strong> F CFA |
                        Montant TTC : <strong>  {{ element.montantTtc|number_format(2, ',', '.') }} </strong> F CFA <br>

                        Fournisseur : <br>
                        Nom : <strong> {{ element.fournisseur.nom }} </strong>  |
                        IFU : <strong> {{ element.fournisseur.numifu }} </strong>  |
                        Contact(s) : <strong> {{ element.fournisseur.tel }} </strong>
                        <br>

                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </form>
        </div>
    </div>
</div>