{% extends "home/layout.html.twig" %}
{% block stylesheet %}

{% endblock %}
 {% block titletopmeu %}
    <li>Encaissement</li>
    <li><a href="{{ path('read_paiement')}}">Paiements </a></li>
{% endblock %}
 {% block content %}
     <!-- Datatables Content -->
     <div class="block full">
         <div class="block-title">

             <h2>
                 <strong> Paiements de l'exercice : {{ exercice.libExercice }} </strong>
             </h2>

                <a  href="{{ path('create_paiement')}}"  title="Ajouter" class="btn btn-xs btn-success" >
                 <i  class="fa fa-plus"></i></a>
         </div>
         <div class="table-responsive">
             <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                 <thead>
                 <tr>
                 <th class="text-center "> N°</th>
                     <th class="text-center "> Date Paiement</th>
                     <th class="text-center "> N° Encaissement</th>
                     <th class="text-center hide"> Référence Virement </th>
                     <th class="text-center "> Montant Ttc</th>
                     <th class="text-center">  Actions</th>
                 </tr>

                 </thead>
                 <tbody>
                 {% for element in  paiements %}
                     <tr>
                      <td class="text-center "> {{ element.id }} </td>
                         <td class="text-center"> {{ element.dateEPaiement|date('d/m/Y') }} </td>
                         <td class="text-center">{{ element.encaissement.id }} </td>
                         <td class="text-left hide">{{ element.refVirement }} </td>
                        <td class="text-right ">
                             {{ element.montantTtc|number_format(2, ',', '.') }}
                         </td>
                         <td class="text-center">
                            <a href="{{ path('update_paiement', {'id': element.id } )}}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                           <a href="#modal-regular{{ element.id }}" data-toggle="modal" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                             {% include 'encaissement/paiement/delete_paiement.html.twig'  %}
                             <a href="#modal-regular1{{ element.id }}" data-toggle="modal" title="Détails" class="btn btn-xs btn-primary"><i class="fa fa-copy"></i></a>
                             {% include 'encaissement/paiement/detail_paiement.html.twig'  %}
                              <a href="{{ path('read_retenuepaie', {'id': element.id } )}}" data-toggle="tooltip" title="Les retenues de paiement" class="btn btn-xs btn-warning"><i class="fa fa-wrench"></i></a>

                         </td>
                     </tr>
                 {% endfor %}
                 </tbody>
             </table>
         </div>
     </div>
     <!-- END Datatables Content -->

 {% endblock %}

         {% block customjavascript %}
         <script>
             $('#getExo').change(function () {
                 if ($('#getExo').val() === "")
                 {

                 }
                 else
                 {
                     // alert('route de la liste des estdirecteurtechniques de la structure '+$(this).val());
                     var url = '{{ path("read_encaissement",{ 'exercice':  'exo', }) }}';
                     url = url.replace("exo", $(this).val() === "" ? 0 : $(this).val());
                     location.href = "" + url + "";
                 }
             });
                 </script>
{% endblock customjavascript %}