{% extends "home/layout.html.twig" %}
{% block stylesheet %}

{% endblock %}
 {% block titletopmeu %}
     <li>Appel</li>
     <li><a href="{{ path('read_objetappel')}}"> Objets Appels</a></li>
     <li><a href="{{ path('update_objetappel',{'id': id } )}}">Modification</a></li>
 {% endblock %}
 {% block content %}
<<<<<<< HEAD
     <div class="row">
     <div class="block col-sm-6 col-sm-offset-2">
=======

     <div class="block col-sm-6">
>>>>>>> e90a8e86fcf344935894ebd685ca3527a71d55c4
         <!-- Normal Form Title -->
         <div class="block-title">
             <div class="block-options pull-right">
                 <a href="{{ path('read_objetappel')}}" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" >Retour</a>
             </div>
             <h2><strong>Modifier objetappel</strong> </h2>
         </div>
         <!-- END Normal Form Title -->

         <!-- Normal Form Content -->
         <form action="{{ path('update_objetappel',{'id': id } )}}" method="post" class="form-bordered">

             <div class="form-group">
                 {{ form_widget(form) }}
                 {{ form_rest(form) }}
             </div>
             <div class="form-group form-actions">
                 <button type="submit" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i> Modifier</button>
                 <button type="reset" class="btn btn-sm btn-default"><i class="fa fa-repeat"></i> Annuler</button>
             </div>
         </form>
         <!-- END Normal Form Content -->
     </div>
<<<<<<< HEAD
     </div>
=======
>>>>>>> e90a8e86fcf344935894ebd685ca3527a71d55c4
 {% endblock %}