{% extends "home/layout.html.twig" %}
{% block stylesheet %}

{% endblock %}
 {% block titletopmeu %}
     <li>Encaissement</li>
     <li><a href="{{ path('read_retenuepaie',{'id': id })}}">Retenue Paiement</a></li>
     <li><a href="{{ path('create_retenuepaie',{'id': id })}}">Enregistrement</a></li>
 {% endblock %}
 {% block content %}
     <div class="row">
         <div class="block ">
    <!-- Normal Form Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a href="{{ path('read_retenuepaie',{'id': id })}}" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" >Retour</a>
        </div>
        <h2><strong>Enregistrement de Retenue à verser</strong> </h2>
    </div>
    <!-- END Normal Form Title -->

    <!-- Normal Form Content -->
    <form action="{{ path('create_retenuepaie',{'id': id })}}" method="post" class="form-bordered">

        <div class="form-group">
            {{ form_widget(form) }}
            {{ form_rest(form) }}
        </div>
        <div class="form-group form-actions">
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Enregistrer</button>
            <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Annuler</button>
        </div>
    </form>
    <!-- END Normal Form Content -->
</div>
     </div>
 {% endblock %}